---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro"
import PageIndex from "../components/PageIndex.astro"
import BackToIndexButton from '../components/BackToIndexButton.astro';




const pageIndexProps = [
  {
    seccionTitle: "Máquinas de bobina",
    subSeccions: [{ title: "Funcionamiento máquina de tatuar de bobinar", link: "#funcionamiento-maquina-bobina"}, { title: "Precio maquina para tatuar de bobina", link: "#precio-maquina-bobinas"}, { title: "Venjajas y desventajas de las maquinas de tatuar de bobinas", link: "#ventajas-desventajas"}]
  }
]

---

<Layout title="Frontend Mentor | Intro section with dropdown navigation.">
	<main class="container mx-auto px-20">
	  <div class="grid grid-cols-1 lg:pt-5  max-w-[600px] mx-auto">
  		<div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
  		  <div>
				  <h1 class="text-almost-black text-3xl lg:text-[4rem] lg:leading-[5rem] font-bold text-center mt-4">Freidora de Aire</h1>
  				<p class=" pt-5 lg:pt-[2rem] lg:text-xl">
            Las máquinas para tatuar de bobinas es la máquina clásica de tatuaje, por eso los artistas más tradicionales siguen utilizando esta clase de máquinas de tatuar y son reacios al cambio evolutivo de la máquina de tatuar rotativa o máquinas para tatuar con cartuchos.
  				</p>
  		  </div>  		  
  		</div>
      <div class=" flex flex-col justify-center mt-8 mb-6 w-[200px]">
       <a href="https://amzn.to/3ArBqQS"><img class="block object-scale-down h-[200px]"  src="https://m.media-amazon.com/images/I/61SIfMyl5aL._AC_SX569_.jpg" alt="Hero"></a>
       <div class="bg-yellow-500 max-w-[200px] h-[40px] flex flex-row">
        <a href="https://amzn.to/3ArBqQS"><img class="mr-1 w-[30px] h-[30px] ml-1 mt-1" src="https://wms-eu.amazon-adsystem.com/panda/20070822/US/img/cart.gif" alt="amazon-logo"></a>
        <a class="pt-1" href="https://amzn.to/3ArBqQS"><span class="text-black">Ver precio en amazon </span></a>
       </div>
      </div>
  
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
			
        <BackToIndexButton />
		</div>
       </div>
	</main>
</Layout>