---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PageIndex from "../components/PageIndex.astro";
import BackToIndexButton from "../components/BackToIndexButton.astro";
import HeaderTailwind from "../components/HeaderTailwind.jsx";

const pageIndexProps = [
  {
    seccionTitle: "Tipos de máquinas de Tatuar",
    seccionTitleLink: "#tipos-maquinas-de-tatuar",
    subSeccions: [
      {
        title: "Tipos de máquinas de Tatuar",
        link: "#tipos-maquinas-de-tatuar",
      },
      {
        title: "Máquinas de tatuar de bobina",
        link: "#maquinas-tatuar-bobina",
      },
      {
        title: "Máquinas de tatuar rotativas",
        link: "#maquinas-tatuar-rotativas",
      },
      { title: "Máquinas de tatuar tipo Pen", link: "#maquinas-tatuar-pen" },
      {
        title: "Máquinas de tatuar Neumáticas",
        link: "#maquinas-tatuar-neumaticas",
      },
    ],
  },
];
---

<Layout
  title="Maquinas de tatuar | Tipos, Kit principiante, kit profesional, marcas."
>
  <main class="container mx-auto px-8 mt-8">
    <div class="grid grid-cols-1 lg:pt-5 max-w-[800px] mx-auto">
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <h1
            class="text-almost-black text-5xl lg:text-[4rem] lg:leading-[5rem] font-bold text-center mt-4"
          >
            Maquinas de tatuar
          </h1>
          <p class="pt-5 text-xl lg:pt-[2rem] lg:text-xl">
            Hoy en día existen una gran variedad de marcas y modelos de máquinas
            de tatuar pero <strong
              >¿Cómo elegir qué maquina de tatuar comprar?</strong
            ><br /><br />
            Antes que todo es importante conocer los tipos de maquinas disponibles
            en el mercado y que ofrecen las marcas para poder seleccionar la maquina
            mas adecuada para ti<br /><br />
          </p>
        </div>
      </div>
      <div class="flex justify-center">
        <img
          class="block object-scale-down rounded"
          src="images/máquinas-tinta-y-bosquejo-del-tatuaje-74235416.jpg"
          alt="Hero"
        />
      </div>
      <div class="flex mt-5">
        <PageIndex seccions={pageIndexProps} />
      </div>
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <h2
            id="tipos-maquinas-de-tatuar"
            class="text-almost-black text-4xl text-center mt-5 underline decoration-red-500"
          >
            Mejores máquinas de tatuar
          </h2>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Existen numerosas marcas de fabricantes de maquinas de tatuar.
            Dentro de las marcas líderes tenemos <a
              href="/maquina-tatuar-cheyenne"
              class="underline cursor-pointer font-bold">Cheyenne</a
            >, <a
              href="/maquina-tatuar-dragonhawk"
              class="underline cursor-pointer font-bold">DragonHawk</a
            >, Hawink, FK Irons, Stigma entre otras. <br /><br />No obstante lo
            anterior, a la hora de aprender recomendamos no considerar solamente
            la marca sino que el <strong>tipo de maquina de tatuar</strong
            >,<strong> tecnología</strong>, <strong>precio</strong>,
            <strong>repuestos</strong>, et
          </p>
          <h1 class="text-3xl text-center pt-5">
            Aqui van las ofertas de amazon
          </h1><br /><br />

          <h3
            id="maquinas-tatuar-bobina"
            class="text-3xl font-bol text-black underline text-center decoration-red-400"
          >
            Máquinas de tatuar baratas
          </h3>
          <h1 class="text-3xl text-center pt-5">
            Aqui van las ofertas de amazon
          </h1>
          <h2
            id="tipos-maquinas-de-tatuar"
            class="text-almost-black text-4xl text-center mt-5 underline decoration-red-500"
          >
            ¿Qué tipos de máquinas de tatuar hay?
          </h2>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            <strong>Lo mas importante!.</strong> La máquina de tatuar debe ser ergonómica,
            es decir, debe adaptarse a la mano. Una máquina inadecuada puede causar
            molestias y calambres en los dedos del tatuador.
          </p>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Existen también maquinas rotativas que son mas modernas y versátiles
            que las de bobina que te permitirán hacer tanto delineado como
            sombreado dependiendo de las agujas que utilices.
          </p>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Podemos encontrar diferentes tipos de máquinas de tatuar en el
            mercado, su uso depende del tipo de tatuaje que queramos realizar,
            ergonomía, accesorios, etc.
          </p>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            En la actualidad existen tres tipos de maquinas de tatuar: Las
            máquinas de bobina, rotativas y neumáticas o de aire. Las dos
            primeras son las más difundidas mientras que las máquinas de tatuar
            neumáticas, al ser mas modernas, su uso es menos difundido y aun
            estan a prueba.
          </p><br />
          <h3
            id="maquinas-tatuar-bobina"
            class="text-3xl font-bol text-black underline"
          >
            Máquinas de tatuar de bobina: Las más vintage o clásicas
          </h3>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Son quizás las más comunes o las que más se han expandido y podemos
            clasificarlas como máquinas clásicas o tradicionales.
          </p><br />
          <div class="flex justify-center">
            <img
              class="block object-scale-down rounded h-[400px]"
              src="images/maquina-tatuar-bobinas.max-1000x1000.format-webp.webp"
              alt="Hero"
            />
          </div>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Estan confeccionadas por una o más bobinas y una armadura en barra,
            utilizan electromagnetos para funcionar y la(s) aguja(s) van
            soldadas.<br /><br /> Las máquinas de bobina para delineado suelen utilizar
            un grupo de agujas en un patrón circular para la puesta de tinta en la
            piel, mientras que las máquinas para sombreado suelen tener estructuras
            más pesadas y una mayor cantidad de agujas.
          </p><br />
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Las máquinas de bobina, que en general sirven para hacer solo un
            tipo de trazo, delineado o sombreado, por lo que necesitarás mas de
            un equipo dependiendo de lo que desees crear.
          </p><br /><br />
          <h3
            id="maquinas-tatuar-rotativas"
            class="text-3xl font-bol text-black underline"
          >
            Máquinas de tatuar rotativas: Las preferidas por principiantes y
            pros
          </h3>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Estas son maquinas mas modernas que las de bobinas y cuentan con un
            sólo motor, por lo que no tienen bobinas, sino que utiliza un
            sistema de poleas. Suelen ser la primera opción para muchos
            tatuadores por varias razones entre las que cabe destacar que son
            más silenciosas, vibran menos, causan menos daño a la piel y son
            ideales para delineados y sombreados de menor extensión, ya que son
            propensas a calentarse después de 2 horas de uso.
          </p><br />
          <div class="flex justify-center">
            <img
              class="block object-scale-down rounded h-[400px] mt-5"
              src="images/maquinas-tatuar-rotativas.jpg"
              alt="Hero"
            />
          </div><br />
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Dentro de las máquinas rotativas también podemos encontrar las
            llamadas <strong>máquinas de tatuar tipo Pen.</strong>
          </p><br />
          <h3
            id="maquinas-tatuar-pen"
            class="text-3xl font-bol text-black underline"
          >
            Máquinas de tatuar tipo Pen: Las rotativas más ergonómicas
          </h3>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Como sugiere su nombre en inglés, estas herramientas tienen forma de
            bolígrafos. Son muchos los tatuadores que eligen estos modelos. Las
            razónes principales: comodidad, ergonomía y es como dibujar con un
            lápiz obre la piel
          </p>
          <div class="flex justify-center">
            <img
              class="block object-scale-down rounded h-[400px] mt-5"
              src="images/maquina-de-tatuajes-pen.webp"
              alt="Hero"
            />
          </div><br />
          <p class="pt-5 lg:pt-[2rem] text-xl">
            La novedad de estos aparatos es que se puede cambiar el voltaje y la
            potencia cuando sea necesario. Son ampliamente utilizados por
            tatuadores estilo "mano alzada" o "freehand" por sus características
            ergonómicas y diseño flexible Además, son muy ligeras, lo que te
            permite tenerlas más libertad para dibujar y tener sesiones mas
            largas.
          </p>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Otra ventaja que se debe considerar es que puede usarse de forma
            inalámbrica, permitiendo mayor libertad para el tatuador. Dentro de
            las marcas líderes tenemos Cheyenne, DragonHawk, Hawink, FK Irons,
            entre otras.
          </p><br />
          <h3
            id="maquinas-tatuar-neumaticas"
            class="text-3xl font-bol text-black underline"
          >
            Máquinas de tatuar Neumáticas
          </h3>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Es el tipo de máquinta para tatuar más moderna pero al mismo tiempo
            se trata de la más costosa. Sin embargo poco a poco van ganando mas
            adeptos ya que cuenta con varias ventajas en relación con los otros
            tipos.
          </p>
          <div class="flex justify-center">
            <img
              class="block rounded h-[400px] mt-5"
              src="images/maquina-tatuar-neumatica.jpg"
              alt="Hero"
            />
          </div><br />
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Las máquinas de tatuar neumáticas hacen uso de un sistema de aire
            comprimido, por lo que requieren de un compresor de aire para que
            trabajen correctament. De igual forma poseen un sistema eléctrico
            para poder funcionar en caso de no tener un compresor. Son máquinas
            silenciosas y más ligeras.
          </p>
        </div>
        <BackToIndexButton />
      </div>
    </div>
  </main>
</Layout>
