---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PageIndex from "../components/PageIndex.astro";
import BackToIndexButton from "../components/BackToIndexButton.astro";
import HeaderTailwind from "../components/HeaderTailwind.jsx";
import Article from "../components/ArticleCard.astro";
import ArticleCard from "../components/ArticleCard.astro";

const mejoresMaquinasProps = [
  {
    href: "https://www.amazon.es/dp/B08G4S6T9H/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=b4fc9d6dd1f71040331451db86265a58&creativeASIN=B08G4S6T9H",
    description:
      "Máquina de tatuaje inalámbrica HAWINK, fuente de estilo de pluma giratoria, motor sin núcleo...",
    title:
      "Máquina de tatuaje inalámbrica HAWINK, fuente de estilo de pluma giratoria, motor sin núcleo, batería de 900 mAh con pantalla LED de dos baterías CNC-M-WE",
    price: "EUR 199,99",
    imgSrc:
      "https://m.media-amazon.com/images/I/41jjBeUCuNL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B07VYL6X1S/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=5d0e50299d0b736c23fbce7f80b6391c&creativeASIN=B07VYL6X1S",
    description:
      "HAWINK Rotativa Maquina de Tatuaje Rotary Tattoo Machine Con Motor Alemán FAULHABER...",
    title:
      "HAWINK Rotativa Maquina de Tatuaje Rotary Tattoo Machine Con Motor Alemán FAULHABER y Aviones de Aleación de Aluminio Tallado Short Pen CNC-M-Q2",
    price: "EUR 159,99",
    imgSrc:
      "https://m.media-amazon.com/images/I/31wRWa4gftL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B0B8G2Q3KF/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=87b0e52ec40d97f2cb1fc14caca01dde&creativeASIN=B0B8G2Q3KF",
    description:
      "STIGMA Máquina de Tatuaje Inalámbrica Primera con Motor sin Núcleo Alemán 2000 mAh Bateria...",
    title:
      "STIGMA Máquina de Tatuaje Inalámbrica Primera con Motor sin Núcleo Alemán 2000 mAh Bateria Rotary Tattoo Machine con 2 Empuñaduras de Tatuaje Profesionales Gratis EM149",
    price: "EUR 289,00",
    imgSrc:
      "https://m.media-amazon.com/images/I/41nIEBpe0LL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B09JSG3GWX/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=9c926835cea7c4532aa25c8667029d4a&creativeASIN=B09JSG3GWX",
    description:
      "Arenahawk Maquina de Tatuar Wireless Tattoo Pen Machine Battery Tattoo Rotativa 4mm...",
    title:
      "Arenahawk Maquina de Tatuar Wireless Tattoo Pen Machine Battery máquina de tatuaje Tattoo Maquina Rotativas 4mm Stroke with 2pcs batteries (4.0mm stroke)",
    price: "EUR 139,00",
    imgSrc:
      "https://m.media-amazon.com/images/I/31-YJ+VDEYL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B07D356SP9/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=9c8fe7e35f677c1d930ba6e6b4b0154e&creativeASIN=B07D356SP9",
    description:
      "STIGMA Rotativa Maquina de Tatuaje Profesional 10 w Negra Fuerte Motor para Relleno...",
    title:
      "STIGMA Rotativa Maquina de Tatuaje Profesional Maquina para Tatuar 10 w Negra Fuerte Motor para Relleno y Linea M648-1 …",
    price: "EUR 39,95",
    imgSrc:
      "https://m.media-amazon.com/images/I/416CQ920qGL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B0BGMGWFXQ/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=8b71e1bc6628958bc07ded59f27f11c0&creativeASIN=B0BGMGWFXQ",
    description:
      "Máquina de Tatuar rotativa Ligera y Potente para Estudios de Tatuaje (Amarillo) RTZY...",
    title:
      "MáQuina de Tatuar MáQuina de Tatuar Ligera y Potente para Estudios de Tatuaje (Amarillo)",
    price: "EUR 37,97",
    imgSrc:
      "https://m.media-amazon.com/images/I/41qxl0ohQOL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B07P96ZYVW/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=f69a89e9dd0cf8c1a920f7b92d6e2702&creativeASIN=B07P96ZYVW",
    description:
      "Maquinas de Tatuar, Tattoo Rotary Machine Gun para Liner Shader Arma de Aleación...",
    title:
      "Maquinas de Tatuar, Tattoo Rotary Machine Gun para Liner Shader Arma de Aleación de Armazón Tallado Nuevo Motor de Tatuaje Pistola Body Art Coloring Lining Tool - Azul",
    price: "EUR 29,18",
    imgSrc:
      "https://m.media-amazon.com/images/I/41hvFUaZjML._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B0B3N2M9BZ/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=31580a57b80e63f2888d256484efe29d&creativeASIN=B0B3N2M9BZ",
    description:
      "Máquina de tatuaje rotativa Máquina de tatuaje de accionamiento profesional...",
    title:
      "Máquina de tatuaje rotativa Máquina de tatuaje de accionamiento profesional Pistola de tatuaje de motor suizo con tapas de carrera 2.8 3.4mm 4 mm para sombreado de revestimiento,Gris",
    price: "EUR 130,88",
    imgSrc:
      "https://m.media-amazon.com/images/I/31E3kgGJHTL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B076Q5RZNQ/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=14a440b7b17c7272ca54c6f943296207%C3%A7&creativeASIN=B076Q5RZNQ",
    description:
      "Dragonhawk Mast Pen Rotary Tattoo Machine Space Aluminum for Tattoo Artists...",
    title:
      "Dragonhawk Mast Pen Rotary Tattoo Machine Space Aluminum for Tattoo Artists (WQ102-2)",
    price: "EUR 75,00",
    imgSrc:
      "https://m.media-amazon.com/images/I/31NLZHtSjCL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B08CK6L9XF/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=8d4b1de2a92decbf28d40470c0d7d4a8&creativeASIN=B08CK6L9XF",
    description:
      "Solong Maquina Tatuar tatuaje Máquina multifunción inalámbrica con batería/Cable...",
    title:
      "Solong Maquina Tatuar tatuaje Máquina multifunción inalámbrica con batería/Cable de conexión Cartuchos de tatuaje Tattoo Pen EM139",
    price: "EUR 169.98",
    imgSrc:
      "https://m.media-amazon.com/images/I/41EW6ByGpbL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B08B8774T5/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=155b8f271a80aee13092ca87a941967f&creativeASIN=B08B8774T5",
    description:
      "Mast Wireless Battery Tattoo Machine Pen LCD Display Rotary Tattoo Pen with 2 Grips...",
    title:
      "Mast Wireless Battery Tattoo Machine Pen LCD Display Rotary Tattoo Pen with 2 Grips (negro)",
    price: "EUR 183.00",
    imgSrc:
      "https://m.media-amazon.com/images/I/41+HQmruEqL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B0B3T91Q1G/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=50d34a51a29fa021a2d546a7defcbc69&creativeASIN=B0B3T91Q1G",
    description:
      "CNC Máquina de pluma de tatuaje-Máquina de cartucho de tatuaje con potencia inalámbrica...",
    title:
      "CNC Máquina de pluma de tatuaje-Máquina de cartucho de tatuaje con potencia inalámbrica de Motor sin núcleo importado de Alemania Pantalla LED digital para tatuadores profesionales CNC-M-CW2-7",
    price: "EUR 269.99",
    imgSrc:
      "https://m.media-amazon.com/images/I/31B9AztWvzL._AC_AC_SR98,95_.jpg",
  },
];

const maquinasBaratasProps = [
  {
    href: "https://www.amazon.es/dp/B07TX8C5QR/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=86747df09e29c3ba8b30d1b90f592465&creativeASIN=B07TX8C5QR",
    description:
      "CATOMUS Rotary Tattoo Machine Tattoo Pen Cartridge Machine Gun Liner Shader with DC Cord 9000r/m...",
    title:
      "ATOMUS Rotary Tattoo Machine Tattoo Pen Cartridge Machine Gun Liner Shader with DC Cord 9000r/m Motor Zinc Alloy Tattoo Machine Kit for Body Art Tattoo(black)",
    price: "EUR 36.99",
    imgSrc:
      "https://m.media-amazon.com/images/I/411hrQu4AZL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B07VK43SKF/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=92423eb03851b52d47d735bb2e6d5691&creativeASIN=B07VK43SKF",
    description:
      "ATOMUS Rotary Tattoo Maquina Con RCA Cord 9000r/m Profesional Shader Liner Espacio De Aluminio...",
    title:
      "ATOMUS Rotary Tattoo Maquina Con RCA Cord 9000r/m Profesional Shader Liner Espacio De Aluminio Tattoo Motor Pen cartucho Pen para Tattoo artistas",
    price: "EUR 40.99",
    imgSrc:
      "https://m.media-amazon.com/images/I/41NeFuDCAML._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B074FSZNFG/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=6ffb9a8fff29b1cb486e2c6da2aa8e32&creativeASIN=B074FSZNFG",
    description:
      "ATOMUS Black Máquina Rotativa De Tatuaje Con EmpuñAdura 6500r / M Para Tatuajes black...",
    title:
      "ATOMUS Black Máquina Rotativa De Tatuaje Con EmpuñAdura 6500r / M Para Tatuajes",
    price: "EUR 16.99",
    imgSrc:
      "https://m.media-amazon.com/images/I/41g9caL-6wL._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B07DDG7ZPD/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=23953364cf5cf364c78af3d73063e472&creativeASIN=B07DDG7ZPD",
    description:
      "ATOMUS MáQuinas De Tatuaje Rotativas Pistola De AleacióN De Aluminio Shader Para Artistas Y Principiantes...",
    title:
      "ATOMUS MáQuinas De Tatuaje Rotativas Pistola De AleacióN De Aluminio Shader Y Liner Motor De Tatuaje MáQuina Para Artistas Y Principiantes (black)",
    price: "EUR 16.99",
    imgSrc:
      "https://m.media-amazon.com/images/I/41qDw3OGOpL._AC_AC_SR98,95_.jpg",
  },
];
const pageIndexProps = [
  {
    seccionTitle: "Mejores máquinas de tatuar",
    seccionTitleLink: "#mejores-maquinas-tatuar",
    subSeccions: [
      {
        title: "Kits maquinas tatuar",
        link: "#kits-maquinas-de-tatuar",
      },
      {
        title: "Máquinas de tatuar baratas",
        link: "#maquinas-tatuar-baratas",
      },
      {
        title: "Kits maquinas baratas",
        link: "#kits-maquinas-baratas",
      },
    ],
  },
  {
    seccionTitle: "Tipos de máquinas de Tatuar",
    seccionTitleLink: "#tipos-maquinas-de-tatuar",
    subSeccions: [
      {
        title: "Máquinas de tatuar de bobina",
        link: "#maquinas-tatuar-bobina",
      },
      {
        title: "Máquinas de tatuar rotativas",
        link: "#maquinas-tatuar-rotativas",
      },
      { title: "Máquinas de tatuar tipo pen", link: "#maquinas-tatuar-pen" },
      {
        title: "Máquinas de tatuar neumáticas",
        link: "#maquinas-tatuar-neumaticas",
      },
    ],
  },
];
---

<Layout
  title="Maquinas de tatuar | Tipos, Kit principiante, kit profesional, marcas."
>
  <main class="container mx-auto px-8 mt-8">
    <div class="grid grid-cols-1 lg:pt-5 max-w-[800px] mx-auto">
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <h1
            class="text-almost-black text-[1.5rem] lg:text-[3rem] lg:leading-[5rem] font-bold text-center mt-4"
          >
            Máquinas de tatuar
          </h1>
          <div class="lg:flex lg:gap-10">
            <p class="pt-5 text-xl lg:pt-[2rem] lg:text-xl">
              Hoy en día existen una gran variedad de marcas y modelos de
              máquinas de tatuar pero <strong
                >¿Cómo elegir qué maquina de tatuar comprar?</strong
              ><br /><br />
              Antes que todo es importante conocer los tipos de maquinas disponibles
              en el mercado y que ofrecen las marcas para poder seleccionar la maquina
              mas adecuada para ti<br /><br />
            </p>
            <img
              class="block object-scale-down rounded lg:max-w-[50%]"
              src="images/máquinas-tinta-y-bosquejo-del-tatuaje-74235416.jpg"
              alt="Hero"
            />
          </div>
        </div>
      </div>
      <div class="flex mt-9 mb-10">
        <PageIndex seccions={pageIndexProps} />
      </div>
      <div class="flex flex-col relative mt-4">
        <h2
          id="mejores-maquinas-tatuar"
          class="text-almost-black text-4xl text-center mt-5 border-b-2 border-b-gray-400 pb-2"
        >
          Mejores máquinas de tatuar
        </h2>
        <p class="pt-5 lg:pt-[2rem] text-xl">
          Existen numerosas marcas de fabricantes de maquinas de tatuar. Dentro
          de las marcas líderes tenemos <a
            href="/maquina-tatuar-cheyenne"
            class="underline cursor-pointer font-bold hover:text-almost-black"
            >Cheyenne</a
          >, <a
            href="/maquina-tatuar-dragonhawk"
            class="underline cursor-pointer font-bold hover:text-almost-black"
            >DragonHawk</a
          >, <strong>Hawink</strong>, <strong>FK Irons</strong>, <strong
            >Stigma</strong
          > entre otras. <br /><br />No obstante lo anterior, a la hora de
          aprender recomendamos no considerar solamente la marca sino que el <strong
            >tipo de maquina de tatuar</strong
          >,<strong> tecnología</strong>, <strong>precio</strong>,
          <strong>repuestos</strong>, etc.
        </p>
        <p class="pt-5 lg:pt-[2rem] text-xl">
          Al momento de comprar una máquina de tatuar te encontrarás con
          máquinas individuales, con <a
            href="/kit-tatuaje-principiante"
            class="font-bold underline cursor-pointer hover:text-almost-black"
            >kits de máquinas de tatuar para principiantes</a
          > y <a
            href="/kit-tatuaje-profesional"
            class="font-bold underline cursor-pointer hover:text-almost-black"
            >kits para profesionales</a
          >. Estos últimos tienden a ser mas costosos pero presentan ventajas en
          las funcionalidades y materiales.
        </p>
        <div
          class="flex flex-row justify-center flex-wrap lg:flex lg:flex-row lg:flex-wrap space-x-2 mb-5 mt-5"
        >
          {
            mejoresMaquinasProps.map((article) => (
              <ArticleCard articleProps={article} />
            ))
          }
        </div>

        <h3
          id="maquinas-tatuar-baratas"
          class="text-3xl text-black text-center border-b-2 border-b-gray-400 pb-2 mt-6"
        >
          Máquinas de tatuar baratas: recomendados para iniciar a tatuar
        </h3>
      </div>
      <div
        class="flex flex-row justify-center flex-wrap lg:flex lg:flex-row lg:flex-wrap space-x-2 mb-5"
      >
        {
          maquinasBaratasProps.map((article) => (
            <ArticleCard articleProps={article} />
          ))
        }
      </div>
      <h2
        id="tipos-maquinas-de-tatuar"
        class="text-black text-3xl text-center mt-5 border-b-2 border-b-gray-400 pb-2"
      >
        ¿Qué tipos de máquinas de tatuar hay?
      </h2>
      <p class="pt-5 lg:pt-[2rem] text-xl">
        <strong>Lo mas importante!</strong> La máquina de tatuar debe ser ergonómica,
        es decir, debe adaptarse a la mano. Una máquina inadecuada puede causar molestias
        y calambres en los dedos del tatuador.
      </p>

      <p class="pt-5 lg:pt-[2rem] text-xl">
        Podemos encontrar diferentes <strong>tipos de máquinas de tatuar</strong
        > en el mercado, su uso depende del tipo de tatuaje que queramos realizar,
        ergonomía, accesorios, etc.
      </p>
      <p class="pt-5 lg:pt-[2rem] text-xl">
        En la actualidad existen tres tipos de maquinas de tatuar: <strong
          >Las máquinas de bobina, rotativas y neumáticas o de aire</strong
        >. Las dos primeras son las más difundidas mientras que las máquinas de
        tatuar neumáticas, al ser mas modernas, su uso es menos difundido y aun
        estan a prueba.
      </p><br />
      <h3
        id="maquinas-tatuar-bobina"
        class="text-2xl font-bol text-black pb-2 text-center mt-4"
      >
        <strong>
          <a href="/maquina-de-bobina"
            >Máquinas de tatuar de bobina: Las más vintage o clásicas</a
          >
        </strong>
      </h3>
      <p class="pt-5 lg:pt-[2rem] text-xl">
        Las <a
          href="/maquina-de-bobina"
          class="font-bold underline cursor-pointer hover:text-almost-black"
          >máquinas de bobina</a
        > son quizás las más comunes o las que más se han expandido y podemos clasificarlas
        como máquinas clásicas o tradicionales.
      </p><br />
      <div class="flex justify-center">
        <img
          class="block object-scale-down rounded h-[400px]"
          src="images/maquina-tatuar-bobinas.max-1000x1000.format-webp.webp"
          alt="Hero"
        />
      </div>
      <p class="pt-5 lg:pt-[2rem] text-xl">
        Estan confeccionadas por <strong>una o más bobinas</strong> y una armadura
        en barra, utilizan electromagnetos para funcionar y la(s) aguja(s) van soldadas.<br
        /><br />
        <strong>Las máquinas de bobina para tatuar líneas</strong> suelen utilizar
        un grupo de agujas en un patrón circular para la puesta de tinta en la piel,
        mientras que las máquinas para sombras suelen tener estructuras más pesadas
        y una mayor cantidad de agujas.
      </p><br />
      <p class="pt-5 lg:pt-[2rem] text-xl">
        En general sirven para hacer solo un tipo de trazo (existen para
        múltiples tipos de trazos pero suelen ser mas costosas), delineado o
        sombreado, por lo que necesitarás mas de un equipo o accesorios
        dependiendo de lo que desees crear.
      </p><br /><br />
      <h3
        id="maquinas-tatuar-rotativas"
        class="text-2xl font-bol text-black pb-2 text-center"
      >
        <strong>
          <a href="/maquina-rotativa"
            >Máquinas de tatuar rotativas: las preferidas por principiantes y
            pros</a
          >
        </strong>
      </h3>
      <p class="pt-5 lg:pt-[2rem] text-xl">
        Las <a
          href="/maquina-rotativa"
          class="font-bold underline cursor-pointer hover:text-black"
          >maquinas rotativas</a
        > mas modernas y versátiles que las de bobinas y cuentan con un sólo motor,
        por lo que no tienen bobinas, sino que utiliza un sistema de poleas. Suelen
        ser la primera opción para muchos tatuadores por varias razones entre las
        que cabe destacar que son<strong>
          más silenciosas, vibran menos, causan menos daño a la piel y son
          ideales para delinear y sombrear tatuajes</strong
        >
        de menor extensión, ya que son propensas a calentarse después de 2 horas
        de uso. (las mas costosas poseen baterías que otorgan mayor tiempo de trabajo)
      </p><br />
      <div class="flex justify-center">
        <img
          class="block object-scale-down rounded h-[400px] mt-5"
          src="images/maquinas-tatuar-rotativas.jpg"
          alt="Hero"
        />
      </div><br />
      <p class="pt-5 lg:pt-[2rem] text-xl">
        Dentro de las máquinas rotativas también podemos encontrar las llamadas <a
          href="/maquina-tatuar-pen"
          class="font-bold underline cursor-pointer hover:text-almost-black"
          >máquinas de tatuar tipo Pen.</a
        >
      </p><br />
      <h3
        id="maquinas-tatuar-pen"
        class="text-2xl font-bol text-black pb-2 mt-4 text-center"
      >
        <a href="/maquina-de-tatuar-pen">
          <strong>
            Máquinas de tatuar tipo Pen: Las rotativas más ergonómicas</strong
          >
        </a>
      </h3>
      <p class="pt-5 lg:pt-[2rem] text-xl">
        Como sugiere su nombre en inglés, estas herramientas tienen <strong
          >forma de lápiz</strong
        >.
        <br />
        Son muchos los tatuadores que eligen estos modelos.
        <br />
        <strong
          >Las razónes principales: comodidad, ergonomía y es como dibujar con
          un lápiz sobre la piel</strong
        >
      </p>
      <div class="flex justify-center">
        <img
          class="block object-scale-down rounded h-[400px] mt-5"
          src="images/maquina-de-tatuajes-pen.webp"
          alt="Hero"
        />
      </div><br />
      <p class="pt-5 lg:pt-[2rem] text-xl">
        La novedad de estos aparatos es que se puede cambiar el voltaje y la
        potencia cuando sea necesario.
      </p>
      <p class="pt-5 lg:pt-[2rem] text-xl">
        Son ampliamente utilizados por tatuadores estilo <strong
          >"mano alzada" o "freehand"</strong
        > por sus características ergonómicas y diseño flexible además, son muy ligeras,
        lo que te permite tener más libertad para dibujar y tener sesiones mas largas.
      </p>
      <p class="pt-5 lg:pt-[2rem] text-xl">
        Otra ventaja que se debe considerar es que puede usarse de forma
        <strong>inalámbrica</strong>, permitiendo mayor libertad para el
        tatuador. <strong
          >Estas máquinas sirven para tatuar lineas o relleno (sombreado) de
          tatuajes</strong
        >
      </p><br />
      <h3
        id="maquinas-tatuar-neumaticas"
        class="text-2xl text-black pb-2 mt-6 text-center"
      >
        <strong> Máquinas de tatuar neumáticas</strong>
      </h3>
      <p class="pt-5 lg:pt-[2rem] text-xl">
        Es el tipo de máquinta para tatuar más moderna pero al mismo tiempo se
        trata de la más costosa. Sin embargo poco a poco van ganando mas adeptos
        ya que cuenta con varias ventajas en relación con los otros tipos.
      </p>
      <div class="flex justify-center">
        <img
          class="block rounded h-[400px] mt-5"
          src="images/maquina-tatuar-neumatica.jpg"
          alt="Hero"
        />
      </div><br />
      <p class="pt-5 lg:pt-[2rem] text-xl">
        Las <strong>máquinas de tatuar neumáticas</strong> hacen uso de un sistema
        de aire comprimido, por lo que requieren de un compresor de aire para que
        trabajen correctament. De igual forma poseen un sistema eléctrico para poder
        funcionar en caso de no tener un compresor. Son máquinas silenciosas y más
        ligeras pero menos masivas y cuesta mas encontrarlas.
      </p>

      <BackToIndexButton />
    </div>
  </main>
</Layout>
