---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PageIndex from "../components/PageIndex.astro";
import BackToIndexButton from "../components/BackToIndexButton.astro";

const pageIndexProps = [
  {
    seccionTitle: "Máquinas de bobina",
    seccionTitleLink: "#maquina-de-bobina",
    subSeccions: [
      {
        title: "Funcionamiento máquina de tatuar de bobinar",
        link: "#funcionamiento-maquina-bobina",
      },
      {
        title: "Precio maquina para tatuar de bobina",
        link: "#precio-maquina-bobinas",
      },
      {
        title: "Venjajas y desventajas de las maquinas de tatuar de bobinas",
        link: "#ventajas-desventajas",
      },
    ],
  },
];
---

<Layout title="Frontend Mentor | Intro section with dropdown navigation.">
  <main class="container mx-auto px-20">
    <div class="grid grid-cols-1 lg:pt-5 max-w-[600px] mx-auto">
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <h1
            class="text-almost-black text-3xl lg:text-[4rem] lg:leading-[5rem] font-bold text-center mt-4"
          >
            Kit de tatuaje profesional
          </h1>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Una maquina de tatuar profesional es aquella que está confeccionada
            con materiales de primer nivel, mas resistentes al desgaste y suele
            ser de una marca reconocida, que otorgue adecuadas garantías y
            post-venta.
          </p>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            En relación a la función de crear un tatuaje, maquinas de tatuar
            profesionales y maquinas de tatuar para principiantes cumplen con su
            cometido. Sin embargo las máquinas profesionales suelen otorgar mas
            versatilidades.
          </p>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Los kits de maquinas profesionales suelen ser mas costosos que los
            para principiantes por lo que antes de comprarlos sugerimos saber
            bien si es el tipo de maquina adecuada para tus pretensiones.
          </p>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            No obstante lo anterior, los kits mas costosos lo son porque
            efectivamente tienen factores diferenciadores como la calidad de sus
            materiales, garantias, prestaciones, ergonomía, etc.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
