---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PageIndex from "../components/PageIndex.astro";
import BackToIndexButton from "../components/BackToIndexButton.astro";

const mejoreskitsPrincipiantesProps = [
  {
    href: "https://www.amazon.es/dp/B09PV295YJ/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=6f79d0289bc31360c96543fbf51f7085&creativeASIN=B09PV295YJ",
    description:
      "STIGMA Kit para Tatuar con Bateria 95mm Maquina de Tatuaje Profesional 20pcs Agujas de Tatuaje Tinta...",
    title:
      "STIGMA Kit para Tatuar con Bateria 95mm Maquina de Tatuaje Profesional 20pcs Agujas de Tatuaje Tinta Negra STE10KIT02B-1",
    price: "EUR 149,99",
    imgSrc:
      "https://m.media-amazon.com/images/I/51hEXkC9v3L._AC_AC_SR98,95_.jpg",
  },
  {
    href: "https://www.amazon.es/dp/B08Y896DK4/ref=as_sl_pc_as_ss_li_til?tag=productosr071-21&linkCode=w00&linkId=2ab0f271930a244133bef2bdbade528f&creativeASIN=B08Y896DK4",
    description:
      "TATELF Kit tatuaje completo Kit de máquinas de tatuaje giratorias profesionales con 2 motores, fuente...",
    title:
      "TATELF Kit tatuaje completo Kit de máquinas de tatuaje giratorias profesionales con 2 motores, fuente de alimentación LCD digital táctil para artistas de Tatuaje Principiante",
    price: "EUR 130,99",
    imgSrc:
      "https://m.media-amazon.com/images/I/51t3STFWcBL._AC_AC_SR98,95_.jpg",
  },
];

const pageIndexProps = [
  {
    seccionTitle: "Máquinas de bobina",
    seccionTitleLink: "#maquina-de-bobina",
    subSeccions: [
      {
        title: "Funcionamiento máquina de tatuar de bobinar",
        link: "#funcionamiento-maquina-bobina",
      },
      {
        title: "Precio maquina para tatuar de bobina",
        link: "#precio-maquina-bobinas",
      },
      {
        title: "Venjajas y desventajas de las maquinas de tatuar de bobinas",
        link: "#ventajas-desventajas",
      },
    ],
  },
];
---

<Layout title="Maquinas de tatuar | kit-tatuaje-profesional.">
  <main class="container mx-auto px-8">
    <div class="grid grid-cols-1 lg:pt-5 max-w-[800px] mx-auto">
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <h1
            class="text-almost-black text-5xl lg:text-[4rem] lg:leading-[5rem] font-bold text-center mt-4"
          >
            Kit de tatuaje profesional
          </h1>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Una maquina de tatuar profesional es aquella que está confeccionada
            con materiales de primer nivel, mas resistentes al desgaste y suele
            ser de una marca reconocida, que otorgue adecuadas garantías y
            post-venta.
          </p>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            En relación a la función de crear un tatuaje, maquinas de tatuar
            profesionales y maquinas de tatuar para principiantes cumplen con su
            cometido. Sin embargo las máquinas profesionales suelen otorgar mas
            versatilidades.
          </p>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Los kits de maquinas profesionales suelen ser mas costosos que los
            para principiantes por lo que antes de comprarlos sugerimos saber
            bien si es el tipo de maquina adecuada para tus pretensiones.
          </p>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            No obstante lo anterior, los kits mas costosos lo son porque
            efectivamente tienen factores diferenciadores como la calidad de sus
            materiales, garantias, prestaciones, ergonomía, etc.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
