---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PageIndex from "../components/PageIndex.astro";
import BackToIndexButton from "../components/BackToIndexButton.astro";

const pageIndexProps = [
  {
    seccionTitle: "Marcas Máquinas de tatuar",
    seccionTitleLink: "#marcas-maquinas-tatuar",
    subSeccions: [
      { title: "Maquinas de tatuar Cheyenne", link: "#marca-cheyenne" },
    ],
  },
];
---

<Layout title="Maquinas de tatuar | maquina-tatuar-cheyenne.">
  <main class="container mx-auto px-8">
    <div class="grid grid-cols-1 lg:pt-5 max-w-[800px] mx-auto">
      <h1
        id="marcas-maquinas-tatuar"
        class="text-almost-black text-5xl lg:text-[4rem] lg:leading-[5rem] font-bold text-center mt-4"
      >
        Maquinas de tatuar Cheyenne
      </h1><br /><br />

      <PageIndex seccions={pageIndexProps} />
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Cheyenne es una empresa fabricante de maquinas de tatuajes lider en
            el mercado. Desde el 2006 crean maquinas que se caracterizan por su
            calidad, seguridad e innovación. La fábrica se ubica en Alemania y
            cumplen con los mas altos estándares médicos.
          </p>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Pioneros en el desarrollo de maquinas de tatuar pen, su slogan es
            "Hecho para artistas".
          </p>
          <div class="flex justify-center mt-8 mb-6">
            <img
              class="block object-scale-down rounded"
              src="/images/maquina-de-tatuar-cheyenne.webp"
              alt="Hero"
            />
          </div>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            También existen alternativas a esta marca que son un tanto menos
            costosas pero igualmente muy buenas opcion si hablamos de
            costo/beneficio, durabilidad y calidad.
          </p>
          <h1 class="text-3xl text-center pt-5">
            Aqui van las ofertas de amazon
          </h1>
        </div>
      </div>
    </div>
  </main>
</Layout>
