---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PageIndex from "../components/PageIndex.astro";
import BackToIndexButton from "../components/BackToIndexButton.astro";

const pageIndexProps = [
  {
    seccionTitle: "Marcas Máquinas de tatuar",
    seccionTitleLink: "#marcas-maquinas-tatuar",
    subSeccions: [
      { title: "Maquinas de tatuar DragonHawk", link: "#dragonhawk" },
    ],
  },
];
---

<Layout title="Maquinas de tatuar | maquina-tatuar-dragonhawk.">
  <main class="container mx-auto px-8">
    <div class="grid grid-cols-1 lg:pt-5 max-w-[800px] mx-auto">
      <h1
        id="marcas-maquinas-tatuar"
        class="text-almost-black text-5xl lg:text-[4rem] lg:leading-[5rem] font-bold text-center mt-4"
      >
        Maquinas de tatuar DragonHawk
      </h1><br /><br />

      <PageIndex seccions={pageIndexProps} />

      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <h2
            id="dragonhawk"
            class="text-almost-black text-3xl lg:text-[3rem] lg:leading-[5rem] font-bold text-center mt-4"
          >
            Maquinas de tatuar DragonHawk
          </h2>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            DragonHawk es una marca china muy reconocida por la calidad de sus
            maquinas de tatuar. Tienen excelente post-venta y usar sus máquinas
            es garantía de calidad
          </p>

          <div class="flex justify-center mt-8 mb-6">
            <img
              class="block object-scale-down rounded"
              src="/images/dragonhawk-maquina.webp"
              alt="Hero"
            />
          </div>
          <p class="pt-5 lg:pt-[2rem] text-xl">
            Estas son las mejores ofertas de esta marca:
          </p>
          <h1 class="text-3xl text-center pt-5">
            Aqui van las ofertas de amazon
          </h1>
        </div>
      </div>
    </div>
  </main>
</Layout>
