---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PageIndex from "../components/PageIndex.astro";
import BackToIndexButton from "../components/BackToIndexButton.astro";

const pageIndexProps = [
  {
    seccionTitle: "Marcas Máquinas de tatuar",
    seccionTitleLink: "#marcas-maquinas-tatuar",
    subSeccions: [
      { title: "Maquinas de tatuar Cheyenne", link: "#marca-cheyenne" },
      { title: "Maquinas de tatuar DragonHawk", link: "#dragonhawk" },
      {
        title: "Venjajas y desventajas de las maquinas de tatuar de bobinas",
        link: "#ventajas-desventajas",
      },
    ],
  },
];
---

<Layout title="Frontend Mentor | Intro section with dropdown navigation.">
  <main class="container mx-auto px-20">
    <div class="grid grid-cols-1 lg:pt-5 max-w-[600px] mx-auto">
      <h1
        id="marcas-maquinas-tatuar"
        class="text-almost-black text-3xl lg:text-[4rem] lg:leading-[5rem] font-bold text-center mt-4">
        Marcas maquinas de tatuar
      </h1>
      <p class="pt-5 lg:pt-[2rem] lg:text-xl">
        Existen numerosas marcas de fabricantes de maquinas de tatuar. Dentro de
        las marcas líderes tenemos Cheyenne, DragonHawk, Hawink, FK Irons, entre
        otras.
      </p>
      <p class="pt-5 lg:pt-[2rem] lg:text-xl mb-5">
        No obstante lo anterior, a la hora de aprender recomendamos no
        considerar solamente la marca sino que el tipo de maquina de tatuar,
        tecnología, precio, repuestos, etc.
      </p>
      <PageIndex seccions={pageIndexProps} />
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <h2
            id="marca-cheyenne"
            class="text-almost-black text-3xl lg:text-[3rem] lg:leading-[5rem] font-bold text-center mt-4">
            Maquinas de tatuar Cheyenne
          </h2>
          <p class="pt-5 lg:pt-[2rem] lg:text-xl">
            Cheyenne es una empresa fabricante de maquinas de tatuajes lider en
            el mercado. Desde el 2006 crean maquinas que se caracterizan por su
            calidad, seguridad e innovación. La fábrica se ubica en Alemania y
            cumplen con los mas altos estándares médicos.
          </p>
          <p class="pt-5 lg:pt-[2rem] lg:text-xl">
            Pioneros en el desarrollo de maquinas de tatuar pen, su slogan es
            "Hecho para artistas".
          </p>
          <div class="flex justify-center mt-8 mb-6">
            <img
              class="block object-scale-down rounded"
              src="/images/maquina-de-tatuar-cheyenne.webp"
              alt="Hero"
            />
          </div>
          <p class="pt-5 lg:pt-[2rem] lg:text-xl">
            También existen alternativas a esta marca que son un tanto menos
            costosas pero igualmente muy buenas opcion si hablamos de
            costo/beneficio, durabilidad y calidad.
          </p>
          <h1 class="text-3xl text-center pt-5">
            Aqui van las ofertas de amazon
          </h1>
        </div>
      </div>
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <h2
            id="dragonhawk"
            class="text-almost-black text-3xl lg:text-[3rem] lg:leading-[5rem] font-bold text-center mt-4">
            Maquinas de tatuar DragonHawk
          </h2>
          <p class="pt-5 lg:pt-[2rem] lg:text-xl">
            DragonHawk es una marca china muy reconocida por la calidad de sus
            maquinas de tatuar. Tienen excelente post-venta y usar sus máquinas
            es garantía de calidad
          </p>

          <div class="flex justify-center mt-8 mb-6">
            <img
              class="block object-scale-down rounded"
              src="/images/dragonhawk-maquina.webp"
              alt="Hero"
            />
          </div>
          <p class="pt-5 lg:pt-[2rem] lg:text-xl">
            Estas son las mejores ofertas de esta marca:
          </p>
          <h1 class="text-3xl text-center pt-5">
            Aqui van las ofertas de amazon
          </h1>
        </div>
      </div>
    </div>
  </main>
</Layout>
