---
import DropdownMenu from "./DropdownMenu.astro";
import NavMenuLink from "../components/NavMenuLink.astro"

export interface NavMenuInfo {
  title: string,
  subMenuList: Array<{
    title: string,
    link: string
  }>
}


// En este array se agregan los titulos de los Drop down menus en la navBar //
const navMenuInfo: NavMenuInfo[] = [
    {
      title: "Tipos de maquinas de tatuar", 
      subMenuList: [{title: "Máquina de bobina", link:"/maquina-de-bobina"}, {title: "Máquina rotativa", link: "#"}, {title: "Máquina de tatuar Pen", link: "#"}]   
    }, 
    {
      title: "Marcas", 
      subMenuList: [{title: "Sub Marca1", link:"https://www.google.cl/"}, {title: "Sub Marca2", link: "#"}, {title: "Sub Marca3", link: "#"}, {title: "Sub Marca4", link: "#"}] 
    } 
  ]

  // En este array se agregan los titulos de los NavMenuLink en la navBar //

  const navMenuLinks= [ {title: "kit tatuaje principiante", url:"http://www.google.cl"},{title: "kit tatuaje pofesional", url:"http://www.google.cl"}]
---

<header>
    <div class='flex py-1 px-3 bg-slate-300'>
      <div class='flex item-center ml-5'>
       <a href="/"><img src="/images/Tatoo-machines-logo.png" alt="Logo" class='h-[80px]'/></a> 
      </div>
      <div class='ml-5 flex-grow flex items-center z-20'>
        { navMenuInfo.map(navMenu => (
            <DropdownMenu title={navMenu.title} subMenuList={navMenu.subMenuList} />
        ))}
        { navMenuLinks.map(link=>(
           <NavMenuLink title={link.title} url={link.url}/> 
        )) }
        
      </div>
    </div>
  </header>