---
const { seccions } = Astro.props;
---

<div class="relative block group w-full lg:w-[75%]">
  <div
    id="index"
    class="text-xl bg-slate-300 text-almost-black p-4 border-none rounded cursor-pointer"
  >
    <strong>Contenido</strong>
    <div
      class="bg-slate-200 rounded shadow-slate-50 z-10 group-hover:block mt-3"
    >
      <div>
        {
          seccions.map((seccion, i) => (
            <ul class="list-disc">
              <a
                href={seccion.seccionTitleLink}
                class="text-xl text-black pt-2 pb-2 pl-4 pr-4 block hover:bg-slate-400"
              >
                {i + 1}. {seccion.seccionTitle}
              </a>
              {seccion.subSeccions &&
                seccion.subSeccions.map((subSeccion) => (
                  <li class="ml-10">
                    {" "}
                    <a
                      href={subSeccion.link}
                      class="text-xl text-black pt-2 pb-2 pl-2 pr-4 block hover:bg-slate-400"
                    >
                      {subSeccion.title}
                    </a>
                  </li>
                ))}
            </ul>
          ))
        }
      </div>
    </div>
  </div>
</div>
<iframe
  sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
  style="width:120px;height:240px;"
  marginwidth="0"
  marginheight="0"
  scrolling="no"
  frameborder="0"
  src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=maquinasdet0d-20&language=es_US&marketplace=amazon&region=US&placement=B0B2BQ3FDY&asins=B0B2BQ3FDY&linkId=46cd5cbbf755f874612aa9101f763fbd&show_border=true&link_opens_in_new_window=true"
></iframe>
