---

---

<div class="relative block group">
    <button class="bg-slate-300 text-almost-black p-4 text-base border-none rounded cursor-pointer hover:bg-slate-400">Índice (Ve al punto que mas te interese)</button>
      <div class="hidden absolute bg-slate-200 rounded min-w-[160px] shadow-slate-50 z-10 group-hover:block">
        <div>
              <a href="/" class="text-black pt-2 pb-2 pl-4 pr-4 block hover:bg-slate-400">1. Ancla en la misma página</a>
              <a href="/" class="text-black pt-2 pb-2 pl-4 pr-4 block hover:bg-slate-400">2. Ancla en la misma página</a>
              <a href="/" class="text-black pt-2 pb-2 pl-4 pr-4 block hover:bg-slate-400">3. Ancla en la misma página</a>
           
        </div>   
      </div>
  </div>