---
const { seccions } = Astro.props;
---

<div class="relative block group w-full lg:w-[75%]">
  <div
    id="index"
    class="text-xl bg-slate-300 text-almost-black p-4 border-none rounded cursor-pointer"
  >
    <strong>Contenido</strong>
    <div
      class="bg-slate-200 rounded shadow-slate-50 z-10 group-hover:block mt-3"
    >
      <div>
        {
          seccions.map((seccion, i) => (
            <ul class="list-disc">
              <a
                href={seccion.seccionTitleLink}
                class="text-xl text-black pt-2 pb-2 pl-4 pr-4 block hover:bg-slate-400"
              >
                {i + 1}. {seccion.seccionTitle}
              </a>
              {seccion.subSeccions &&
                seccion.subSeccions.map((subSeccion) => (
                  <li class="ml-10">
                    {" "}
                    <a
                      href={subSeccion.link}
                      class="text-xl text-black pt-2 pb-2 pl-2 pr-4 block hover:bg-slate-400"
                    >
                      {subSeccion.title}
                    </a>
                  </li>
                ))}
            </ul>
          ))
        }
      </div>
    </div>
  </div>
</div>
<iframe
  sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
  style="width:120px;height:240px;"
  marginwidth="0"
  marginheight="0"
  scrolling="no"
  frameborder="0"
  src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=productosr071-21&language=es_ES&o=30&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B09LM4DYHC&linkId=f23499b0168a84a318d8343bd62a961b"
></iframe>
