---

---

<div class="relative block group w-full">
    <div id="index" class="bg-slate-300 text-almost-black p-4 text-base border-none rounded cursor-pointer">Contenido (Ve al punto que mas te interese)
      <div class="bg-slate-200 rounded shadow-slate-50 z-10 group-hover:block mt-3">
        <div>
              <a href="#tipos-maquinas-de-tatuar" class="text-black pt-2 pb-2 pl-4 pr-4 block hover:bg-slate-400"><strong>1.</strong>Tipos de máquinas de Tatuar</a>
              <a href="#maquinas-tatuar-bobina" class="text-black pt-2 pb-2 pl-4 pr-4 block hover:bg-slate-400 ml-4">1.1 Maquinas de tatuar de bobina</a>
              <a href="#maquinas-tatuar-rotativas" class="text-black pt-2 pb-2 pl-4 pr-4 block hover:bg-slate-400 ml-4">1.2 Maquinas de tatuar rotativas</a>
              <a href="#maquinas-tatuar-pen" class="text-black pt-2 pb-2 pl-4 pr-4 block hover:bg-slate-400 ml-4">1.3 Maquinas de tatuar tipo pen</a>
              <a href="#maquinas-tatuar-neumaticas" class="text-black pt-2 pb-2 pl-4 pr-4 block hover:bg-slate-400 ml-4">1.4 Maquinas de tatuar neumáticas o de aire comprimido</a>
           
        </div>   
      </div>
    </div>
  </div>