---
export interface Props {
  title: string;
}
const { title } = Astro.props;
import HeaderTailwind from "../components/HeaderTailwind";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="LM6KTAS6f1SZHccaZeoEFG0k1B9ZX-qL76AA_86YpwE"
    />
    <!-- displays site properly based on user's device -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-W47CH0ZSWR"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-W47CH0ZSWR");
    </script>

    <title>{title}</title>
  </head>
  <body class="text-medium-gray bg-almost-white z-0">
    <HeaderTailwind client:only="react" />
    <slot />
    <Footer />
  </body>
</html>
